<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> ERROR | MOVIE4U </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="/images/UI/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/images/UI/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/images/UI/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>
<body>
<div class="container">
    <div class="row justify-content-center mt-2">
        <div class="col-md-6">
            <div class="card shadow-lg">
                <div class="card-body">
                    <img src="/images/error.png" class="img-fluid mx-auto d-block mb-4" alt="Error Image">
                    <h1 class="text-center text-danger">Oops! Something went wrong.</h1>
                    <div class="code text-center mt-1">
                        <p>Error Code:</p>
                        <h2 th:text="${errorCode}"></h2>
                    </div>
                    <div class="alert alert-danger text-center mt-4" role="alert" th:text="${errorMsg}">
                    </div>
                    <div class="d-grid gap-2">
                        <a href="/" class="btn btn-primary mt-2">Go to Homepage</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
