.cardWrap {
    width: 29em;
    margin: 3em auto;
    color: #fff;
    font-family: sans-serif;
}

.card {
    background: linear-gradient(to bottom, #e84c3d 0%, #e84c3d 26%, #ecedef 26%, #ecedef 100%);
    height: 11em;
    float: left;
    position: relative;
    padding: 1em;
}

.cardLeft {
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    width: 18.2em;
    border-left: 1px solid black;
    border-bottom: 1px solid black;
}

.cardRight {
    width: 6.5em;
    border-left: 0.18em dashed #fff;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
}

.cardRight:before{
    content: "";
    position: absolute;
    display: block;
    width: 0.9em;
    height: 0.9em;
    background: #fff;
    border-radius: 50%;
    left: -0.5em;
}

.cardRight:before {
    top: -0.4em;
}

.cardRight:after {
    bottom: -0.4em;
}

h1 {
    font-size: 1.1em;
    margin-top: 0;
}

h1 span {
    font-weight: normal;
}

.title,
.name,
.seat,
.time,
.room{
    text-transform: uppercase;
    font-weight: normal;
}

.title h2,
.name h2,
.seat h2,
.time h2,
.room h2{
    font-size: 0.9em;
    color: #525252;
    margin: 0;
}

.title span,
.name span,
.seat span,
.time span,
.room span{
    font-size: 0.7em;
    color: #a2aeae;
}

.title {
    margin: 2em 0 0 0;
}

.name,
.seat {
    margin: 0.7em 0 0 0;
}

.time, .room {
    margin: 0.7em 0 0 1em;
}

.seat,
.time,
.room{
    float: left;
}

.number {
    text-align: center;
    text-transform: uppercase;
}

.number span {
    display: block;
    color: #a2aeae;
    color: white;
}

.barcode img {
    width: 100%;
}

.barcode{
    width: 102px;
    margin-top: 45px;
}
