:root {
  --main-color: #954edb;
  --main-light-color: #a66ce0;
  --grey-color: #eeeeee;
  --pri-btn-color: #8d9cef;
  --sed-btn-color: #eda0e0;
  --grey-trans-color: rgba(33, 37, 41, 0.3);
  --card-color: #f7d4c8;
  --tag-color: #f99b9d;
  --selected-color: #eb332b;
  --blue-color: #256eff;
  --purple-color: #944bbb;
  --red-color: #e63946;
  --blur-dark-color: rgba(0, 0, 0, 0.4);
  --blur-bg: rgba(255, 255, 255, 0.4);
  --modal-bg: #f0eef3;
  --error-text: #dc3545;
  --yellow: #ffff00;
  --border-orange: #FFB399;
  --seat-empty: #D4E5F6;
  --header-color: #ffa500;
  --blue-color: #2caee2;
}

body {
  min-height: 100vh;
  position: relative;
  background-color: black !important;
}

ul {
  margin-bottom: 0 !important;
  padding-left: 0 !important;
  list-style-type: none;
  color: white;
}

a {
  display: block;
  text-decoration: none !important;
  cursor: pointer;
}

p {
  margin-bottom: 0.25rem !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span,
hr {
  color: white !important;
}

label {
  display: block !important;
  margin: 12px 0 8px 0;
  font-size: 18px !important;
  font-weight: 400;
  color: white !important;
}

.carousel-item img {
  max-height: 100vh;
}

button {
  border: none;
}

.dropdown-item {
  padding: 0.75rem 1rem !important;
}

.dropdown-item i {
  padding-right: 8px;
}

.header {
  height: 80px;
  padding: 12px 0;
  background-color: var(--grey-trans-color);
  position: fixed;
  z-index: 100;
  top: 0;
  left: 0;
  right: 0;
  box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.75);
}

.logo {
  height: 56px;
  user-select: none;
  filter: drop-shadow(3px 3px 3px black);
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.search_bar {
  display: flex;
  align-items: center;
  min-width: 300px;
  border-radius: 24px;
  outline: var(--main-light-color) solid 1px;
  overflow: hidden;
}

.search_input {
  flex: 1;
  border: none;
  margin: 0 12px;
  padding: 8px 8px;
  background-color: transparent !important;
  color: white;
}

.search_input:focus-visible {
  outline: none;
  -webkit-outline: none;
  -moz-outline: none;
}

.search_bar:has(> .search_input:focus-visible) {
  outline: var(--main-color) solid 2px;
  -webkit-outline: var(--main-color) solid 2px;
  -moz-outline: var(--main-color) solid 2px;
}

.search_icon_wrap {
  padding: 8px 12px;
  background-color: var(--main-light-color);
  transition: all 0.4s;
  border-radius: 0 24px 24px 0;
  cursor: pointer;
}

.search_icon {
  color: white;
}

.search_icon_wrap:hover {
  background-color: var(--main-color);
}

.search_icon_wrap:hover .search_icon {
  color: black;
}

.nav_bar {
  background-color: black;
  height: 50px;
}

.nav_item {
  flex: 1;
  text-align: center;
  padding: 16px 0;
  cursor: pointer;
  user-select: none;
  min-width: 120px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.nav_item{
  transition: all 0.4s;
  font-size: 18px;
  font-weight: 500;
  color: white;
  text-shadow: 1px 0 4px var(--blur-dark-color),
    -1px 0 4px var(--blur-dark-color), 0 1px 4px var(--blur-dark-color),
    0 -1px 4px var(--blur-dark-color), 1px 1px 4px var(--blur-dark-color),
    -1px -1px 4px var(--blur-dark-color), 1px -1px 4px var(--blur-dark-color),
    -1px 1px 4px var(--blur-dark-color);
}

.nav-active, .payment-active{
  color: var(--selected-color) !important;
}

.nav_item:hover {
  letter-spacing: 3px;
  color: var(--main-color);
  font-weight: bold;
}

.title_wrap {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.notification_icon {
  font-size: 24px;
  margin-left: 32px;
}

.btn_config {
  margin: 0 12px;
  width: 98px;
  height: 52px;
  border-radius: 24px;
}

.custom_btn,
.custom_sign_btn {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 0px 35px rgba(0, 0, 0, 0.2);
  -webkit-box-shadow: 0 0px 35px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 0px 35px rgba(0, 0, 0, 0.2);
  border: 2px solid rgba(255, 255, 255, 0.1);
  border-radius: 24px;
  z-index: 1;
  font-weight: 500;
  overflow: hidden;
  transition: 0.5s;
}

.custom_btn:hover,
.custom_sign_btn:hover {
  letter-spacing: 0.125rem;
  color: white;
}

.custom_btn::before,
.custom_sign_btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background: linear-gradient(to left, rgba(255, 255, 255, 0.25), transparent);
  transform: skewX(45deg) translateX(0);
  transition: 0.5s;
}

.custom_btn:hover::before,
.custom_sign_btn:hover::before {
  transform: skewX(45deg) translateX(200%);
}

.list_movie {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.25rem;
  margin-bottom: 32px;
}

.movie_wrap {
  width: 100%;
  transition: all 0.4s;
  overflow: hidden;
  animation: fadeRise .3s ease-in;
}

@keyframes fadeRise {
  from {
    transform: translateY(12px);
    opacity: 0.5;
  }to{
    transform: translateY(0);
    opacity: 1;
  }
}

.movie_wrap:hover {
  transform: scale(1.05) translateZ(3px);
}

.movie_wrap:hover .movie_poster {
  transform: scale(1.05);
}

.movie_poster {
  width: 100%;
  aspect-ratio: 0.75;
  transition: all 0.4s;
  background-position: center;
  background-size: cover;
}

.movie_name {
  font-weight: bold;
  font-size: 18px;
}

.movie_duration,
.movie_category,
.movie_split {
  color: var(--main-light-color);
}

.release_date {
  display: flex;
  align-items: center;
  justify-content: space-around;
  position: absolute;
  top: 240px;
  right: 0;
  height: 40px;
  width: 180px;
  background-color: var(--tag-color);
  font-weight: 500;
  opacity: 0.8;
}

.carousel_img {
  filter: brightness(0.8);
}

#list_trailer {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 1rem;
  margin: 24px 0;
}

.trailer_item {
  width: 100%;
  height: 280px;
  cursor: pointer;
}

.trailer_poster_wrap {
  height: fit-content;
  position: relative;
  overflow: hidden;
  border-radius: 8px;
}

.trailer_item img {
  width: 100%;
  border-radius: 8px;
  transition: all 0.3s;
}

.trailer_item i {
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 32px);
  color: white;
  font-size: 64px;
  opacity: 0.5;
  transition: all 0.3s;
}

.trailer_item h5 {
  text-align: center;
  margin-top: 6px;
}

.trailer_item:hover i {
  opacity: 1;
}

.trailer_item:hover img {
  transform: scale(1.1);
}

footer {
  display: flex;
  border-top: 1px solid white;
  padding: 24px;
  justify-content: space-around;
  flex-wrap: wrap;
}

footer h3 {
  border-left: 4px solid orange;
  padding-left: 6px;
  margin-bottom: 12px;
}

footer a {
  margin: 8px 0;
  transition: all 0.3s;
  color: white;
}

footer > div > a:hover {
  transform: translateX(8px);
  color: var(--selected-color) !important;
}

.contact_icon {
  margin-right: 8px;
  font-size: 32px;
  color: white;
  transition: all 0.15s;
}

.contact_icon:hover {
  transform: scale(1.1);
}

.contact_icon:nth-child(1):hover {
  color: var(--blue-color) !important;
}

.contact_icon:nth-child(2):hover {
  color: var(--red-color) !important;
}

.contact_icon:nth-child(3):hover {
  color: var(--purple-color) !important;
}

#copyright {
  width: 100%;
  text-align: center;
  padding-top: 24px;
  color: white;
}

#blur_bg {
  display: none;
  position: fixed;
  inset: 0;
  z-index: 10;
  background-color: var(--blur-dark-color);
}

#sign_in_modal,
#sign_up_modal {
  display: none;
  position: fixed;
  width: 440px;
  height: fit-content;
  z-index: 20;
  top: calc(50% - 240px);
  left: calc(50% - 220px);
  background-color: var(--modal-bg);
  border-radius: 24px;
  overflow: hidden;
  z-index: 1000;
}

#sign_up_modal{
  top: calc(50% - 320px);
}

.modal_show {
  display: block !important;
  animation: comeIn 0.3s ease-in;
}

@keyframes comeIn {
  from {
    transform: translateY(-40px);
    opacity: 0.5;
  }
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

#sign_title_wrap {
  display: grid;
  grid-template-columns: auto 52px;
  align-items: center;
}

#sign_title {
  color: black !important;
  margin: 12px 0;
  justify-self: center;
  margin-left: 52px;
}

.close_sign_modal {
  color: var(--red-color);
  justify-self: flex-end;
  font-size: 24px;
  padding: 16px;
  margin: 8px;
  transition: all 0.4s;
  cursor: pointer;
}

.close_sign_modal:hover, .delete_ticket_item:hover {
  transform: scale(1.5);
}

#sign_in_form,
#sign_up_form {
  margin: 24px;
}

#sign_in_form p:not(.error_mess),
#sign_up_form p:not(.error_mess),
#sign_in_form label,
#sign_up_form label {
  color: black !important;
}

#sign_in_form a:hover,
#sign_up_form a:hover {
  color: var(--sed-btn-color);
  cursor: pointer;
}

.input {
  border-radius: 6px;
  width: 100%;
  padding: 6px 12px;
  border-color: black;
}

.input:focus-visible {
  outline: 2px solid var(--pri-btn-color);
  -webkit-outline: 2px solid var(--pri-btn-color);
  -moz-outline: 2px solid var(--pri-btn-color);
  border-color: transparent;
}

.input:focus-visible + .toggle_pass, .input:focus-visible + .toggle_pass_forget {
  outline: 2px solid var(--pri-btn-color) !important;
  -webkit-outline: 2px solid var(--pri-btn-color) !important;
  -moz-outline: 2px solid var(--pri-btn-color) !important;
  border-color: transparent !important;
}

.btn_sign_config {
  width: 100%;
  height: 52px;
  border-radius: 18px;
  background-color: var(--pri-btn-color);
  margin: 24px 0;
}

.custom_sign_btn {
  border-radius: 18px !important;
}

.error_mess {
  height: 12px;
  color: var(--error-text) !important;
  font-size: 12px;
}

#password_sign_in,
#password_sign_up {
  border-right-color: transparent;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 0;
}

.toggle_pass, .toggle_pass_forget {
  border: 2px solid black !important;
  border-left: 0 !important;
  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  background-color: white !important;
  transition: none !important;
}

.buy_ticket_btn {
  display: none;
  width: 52% !important;
  font-size: 1rem;
  position: absolute;
  width: 120px;
  left: calc(25% - 12px);
}

.buy_ticket_btn {
  top: 45%;
}

.movie_wrap:hover .buy_ticket_btn {
  display: block;
  animation: rise 0.3s ease-in;
}

@keyframes rise {
  from {
    transform: translateY(12px);
    opacity: 0.5;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.lds-dual-ring {
  position: fixed;
  inset: 0;
  z-index: 1000;
  background-color: black;
  transition: opacity .75s, visibility .75s;
}

.lds-dual-ring::before{
    content: "Loading...";
    position: absolute;
    top: calc(50% + 40px);
    left: calc(50% - 50px);
    color: white;
    font-size: 24px;
    width: fit-content;
}

.lds-dual-ring:after {
  content: "";
  display: block;
  width: 64px;
  height: 64px;
  border-radius: 50%;
  border: 6px solid #cef;
  border-color: #cef transparent #cef transparent;
  animation: lds-dual-ring .75s linear infinite;
  position: absolute;
  top: calc(50% - 32px);
  left: calc(50% - 35px);
}

.loader-hidden{
  opacity: 0;
  visibility: hidden;
}

@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.movie_btn{
  background-color: transparent;
  font-size: 24px;
  font-weight: 500;
  padding: 1px 12px;
  height: 100%;
  border-bottom: 2px solid transparent;
  background-image: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
  background-position: 50% 50%;
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
}

.movie_btn:hover{
  animation: textZoomOut .3s ease-in forwards;
}

@keyframes textZoomOut {
  from{
    background-size: 40%;
  }to{
    background-size: 10%;
  }
}

.movie_btn-selected{
  border-bottom-color: var(--sed-btn-color) !important;
}

#movie_ticket_container{
  min-height: 1000px;
  padding-top: 64px;
}

#movie_ticket_poster{
  width: 24%;
  padding-right: 1.5rem;
}

#movie_ticket_title{
  max-width: 40%;
  margin-right: 1rem;
  margin-bottom: 0;
}

.movie_ticket_main{
  animation: opacity .4s ease-in;
}

@keyframes opacity {
  from { opacity: .5; }
  to { opacity: 1 }
}

#age_restrict{
  border: 2px solid var(--yellow);
  border-radius: 8px;
  padding: 2px 6px;
  color: var(--red-color);
  height: fit-content;
  font-weight: 500;
}

#trailer_btn{
  width: 148px;
  height: 54px;
  margin: 12px 0;
}

.text-hightlight{
  color: var(--tag-color) !important;
  font-weight: 500;
}

.buy_ticket_step{
  display: flex;
  justify-content: center;
  width: 300px;
  color: white;
  border-bottom: 2px solid transparent;
  font-size: 18px;
  align-items: center;
  margin-bottom: 4rem;
  cursor: pointer;
  user-select: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.step_num{
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 4px;
  margin: 8px;
  background-color: black;
  transition: all .3s;
}

.buy_ticket_step-active{
  border-bottom-color: var(--selected-color);
}

.theater_wrap{
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  border: 1px solid var(--border-orange);
  padding: 1.5rem 1.5rem;
  margin-bottom: 64px;
}

.theater_title{
  position: absolute;
  min-width: 260px;
  width: fit-content;
  padding: 2px 12px;
  top: -28px;
  left: -1px;
  font-weight: 500;
  background-color: var(--border-orange);
  border-top-right-radius: 64px;
}

.theater_item{
  color: white;
  border: 2px solid var(--border-orange);
  padding: 4px 6px;
  border-radius: 8px;
  margin: 8px 12px;
  cursor: pointer;
  transition: all .2s;
}

.theater_item:hover{
  background-color: var(--main-light-color);
  border-color: transparent;
  transform: scale(1.1);
  color: black;
}

#screen{
  display: flex;
  justify-content: center;
  height: 44px;
  background-size: 100% auto;
  margin: 24px;
}

#screen img {
  width: 100%;
  background-size: contain;
}

#seat_display{
  flex: 2.5;
}

#ticket_container{
  flex: 1;
  margin: 0 12px;
}

.seat_item{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  margin: 6px;
  border-radius: 2px;
  user-select: none;
  cursor: pointer;
  font-weight: 400;
}

.seat_item-empty{
  background-color: var(--seat-empty);
}

.seat_item-selected{
  background-color: var(--selected-color);
  color: white;
}

.seat_item-lock {
  background-color: var(--blur-dark-color);
}

.seat_order{
  position: absolute;
  left: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 24px;
  height: 24px;
  border-radius: 2px;
  user-select: none;
  font-weight: 400;
  background-color: var(--border-orange);
}

#ticket_header-info{
  border: 1px solid var(--border-orange);
  padding: 8px 0;
  margin-top: 24px;
}

.ticket_item{
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid var(--card-color);
  margin: 12px 0;
  padding: 8px;
  animation: fadeIn .4s ease-in;
}

@keyframes fadeIn {
  from{
    opacity: .5;
    transform: translateX(18px);
  }to{
    opacity: 1;
    transform: translateX(0);
  }
}

.delete_ticket_item{
  cursor: pointer;
  transition: all 0.4s;
}

.cancel_ticket_btn, .next_step_ticket_btn{
  width: 140px;
}

#food_container{
  border: 1px solid var(--border-orange);
  padding: 24px;
  flex: 2.5;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 24px;
  grid-row-gap: 24px;
}

.food_quantity{
  padding: 4px 8px;
  border: 1px solid var(--border-orange);
  border-radius: 4px;
  margin: 0 12px;
  color: white;
}

#food_container img{
  object-fit: contain;
  width: 40%;
  margin-right: 12px;
  border-radius: 4px;
}

.ticket_info_container{
  border: 1px solid var(--border-orange);
  margin-bottom: 24px;
  padding: 12px 24px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.text-hightlight{
  font-size: 18px;
  font-weight: 600;
  color: var(--header-color);
}

#purchase_info_container, #purchase_method_container{
  border: 1px solid var(--border-orange);
  padding: 12px 18px;
}

#purchase_info_container{
  flex: 1;
}

#purchase_method_container{
  flex: 2;
}

.header_text{
  padding: 6px 0;
  color: var(--pri-btn-color) !important;
  font-size: 24px;
  font-weight: 600;
}

.payment_icon{
  color: white;
  font-size: 36px;
}

#payment_form{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(3, 1fr);
  grid-column-gap: 8px;
  grid-row-gap: 12px;
}

#support_form{
  padding: 32px 24px;
  border-radius: 18px;
}

#support_form input, #support_form textarea{
  border-radius: 6px;
  padding: 6px 12px;
}

#avatar{
  border-radius: 50%;
  width: 48px;
  height: 48px;
  border: 2px solid white;
}

.d-n{
  display: none;
}

#user_opt_container:hover #user_opt{
  display: block !important;
}

#user_opt{
  position: absolute;
  top: 52px;
  right: 0;
  background-color: white;
  border-radius: 8px;
  color: black;
  z-index: 100;
}

#user_opt_container::before{
  content: "";
  position: absolute;
  width: 80px;
  height: 60px;
  top: 24px;
  right: -18px;
}

.dropdown-divider{
  border-top: 1px solid black !important;
}

.w-30{
  width: 30%;
}

.toast.show {
  animation: rightToLeft .3s ease-in;
}

.toast:not(.show){
  opacity: 0;
  transition: 0.3s;
  display: block !important;
}

@keyframes rightToLeft {
  from{
    opacity: 0.5;
    transform: translateX(24px);
  }
  to{
    opacity: 1;
    transform: translateX(0);
  }
}

.date_item {
  border: 1px solid white;
  border-radius: 8px;
  cursor: pointer;
  transition: all .3s;
  user-select: none;
}

.date_item.active{
  border-color: var(--border-orange) !important;
}

.date_item.active p, .date_item.active h3{
  color: var(--border-orange) !important;
}

.date_item:hover{
  transform: scale(1.2);
  border-color: var(--blue-color) !important;
}

.date_item:hover p, .date_item:hover h3{
  color: var(--blue-color) !important;
}

#profile_avatar {
  width: 30%;
  aspect-ratio: 1;
  border-radius: 50%;
}

.cursor-pointer{
  cursor: pointer;
}

.theater_container{
  display: flex;
  padding: 24px 32px;
  border: 1px solid var(--border-orange);
  border-radius: 24px;
  margin: 32px 0;
}

.theater_container img{
  aspect-ratio: 4/3;
  width: 33%;
  border-radius: 24px;
}

#success_ticket_icon{
  font-size: 80px;
}